<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html::head">

</head>
<div th:replace="fragments/fragment.html::div.tasks"></div>
<div class="container">
    <br>
    <a href="/" class="btn btn-primary">
        Back
    </a>
    <form th:action="@{/user/edit}" th:object="${user}" method="post">
        <input type="hidden" id="id" name="id" th:value="${user.id}">
        <div class="form-group">
            <label for="name" class="control-label col-xs-3">User name</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="name" name="name" th:value="${user.name}">
            </div>
            <label for="email" class="control-label col-xs-3">User email</label>
            <div class="col-xs-9">
                <input type="email" class="form-control" id="email" name="email" th:value="${user.email}">
            </div>
            <label for="age" class="control-label col-xs-3">User age</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="age" name="age" th:value="${user.age}">
                <br>
                <div>

                    <input type="checkbox" id="role_user" name="role_user"   th:checked="${roleUser}"/>
                    <label for="role_user">ROLE_USER</label>
                    <input type="checkbox" id="role_admin" name="role_admin"  th:checked="${roleAdmin}"/>
                    <label for="role_admin">ROLE_ADMIN</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9">
                <input class="btn btn-primary" type="submit" value="save">
            </div>
        </div>
    </form>
</div>
<div th:replace="fragments/footer.html :: footer"></div>