<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html::head">

</head>
<div th:replace="fragments/fragment.html::div.tasks"></div>
<div class="container">
    <a href="/" class="btn btn-primary">
        Back
    </a>
    <form  th:action="@{/register}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="name" class="control-label col-xs-3">User name</label>
            <div class="col-xs-9">
                <input type="text" th:field="*{name}" class="form-control" id="name" name="name">
            </div>
            <label for="email" class="control-label col-xs-3">User email</label>
            <div class="col-xs-9">
                <input type="email" class="form-control" id="email" th:field="*{email}" name="email">
            </div>
            <label for="age" class="control-label col-xs-3">User age</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" th:field="*{age}" id="age" name="age">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9">
                <input class="btn btn-primary" type="submit" value="save">
            </div>
        </div>
    </form>
</div>
<div th:replace="fragments/footer.html :: footer"></div>